.next-arrow {
  position: absolute;
  top: 44%;
  right: -45px;
  cursor: pointer;
  font-size: 3em;
  color: #8d2cd3;
  transition: color 0.2s;
}
.prev-arrow {
  .next-arrow;
  right: unset;
  left: -45px;
}
.next-arrow:hover,
.prev-arrow:hover {
  color: #f93e4f;
}
.next-arrow:active,
.prev-arrow:active {
  color: #9d61c9;
}
